<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @areas.each do |area| %>
    <%= tag("li", data: {target: "#myCarousel", slide_to:"#{area.id}"}, class: ("active" if area.id == 1)) %>
    <% end %>
  </ol>

  <!-- Sliders -->
  <div class="carousel-inner" >
    <% @areas.each do |area| %>
      <%= content_tag :div, class: (area.id == 1 ? "item active" : "item") do -%>
        <%= image_tag area.picture, class: "img-responsive" %>
      <% end -%>
    <% end %>
  </div>


  <!-- Controles -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->