<section id="diplomados">
<!--Panel-->
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><b>Administración de Empresas</b></a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="table">
          <tbody>
            <tr>
              <td>
                <a href="#">Habilidades Directivas</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">Marketing</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">Finanzas</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><b>Ingenieria</b></a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table">
          <tbody>
            <tr>
              <td>
                <a href="#">Ingenieria Ambiental</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">Tecnologias de Información</a>
              </td>
             </tr>
            <tr>
              <td>
                <a href="#">Gerencia de Proyectos</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><b>Area 3</b></a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table">
          <tbody>
            <tr>
              <td>
                <a href="#">Diplomado 1</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">Diplomado 2</a>
              </td>
             </tr>
            <tr>
              <td>
                <a href="#">Diplomado 3</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><b>Area 4</b></a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table">
          <tbody>
            <tr>
              <td>
                <a href="#">Diplomado 1</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">Diplomado 2</a>
              </td>
             </tr>
            <tr>
              <td>
                <a href="#">Diplomado 3</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--/Panel-->
</section>