<section id="diplomados">
<!--Panel-->
<div class="panel-group" id="accordion">
<% @areas.each do |area| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <b><%= link_to "#{area.nombre}", "#collapse_#{area.id}", data: {toggle: "collapse", parent: "#accordion"}  %></b>
      </h4>
    </div>
    <%= content_tag :div, id: "collapse_#{area.id}", class: (@areas.first == area ? "panel-collapse collapse in" : "panel-collapse collapse") do -%>
      <div class="panel-body">
        <table class="table">
          <tbody>
            <% @area_diplomados.each do |area_diplomado| %>
              <% if area == area_diplomado.area %>
                <tr>
                  <td>
                    <%= link_to(diplomado_path(area_diplomado.diplomado)) do %>
                      <%= area_diplomado.diplomado.nombre %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end -%>
  </div>
<% end %>

<!--/Panel-->
</section>