<hr>
<div id="acerca" align="center">
  <div class="row text-center">
    <h3>ACERCA DE NOSOTROS</h3>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-3 contenido-medio">
      <%= image_tag "somos.jpg", class: "img-circle img-responsive" %>
    </div>
    <div class="col-md-5">
      <h3>¿QUIENES SOMOS?</h3>
      <p>Somos un centro de capacitación profesional y de mejora empresarial, ofrecemos cursos de capacitación Full Day, In House, Diplomados y Programas Intensivos de Actualización, dirigido a estudiantes, público profesional y empresarial de la macro región sur con la finalidad de promover el desarrollo integral del capital humano, de manera didáctica, oportuna, efectiva y continua.
      </p>
    </div>
    <div class="col-md-2">
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-3 contenido-medio">
      <%= image_tag "mision.jpg", class: "img-circle img-responsive" %>
    </div>
    <div class="col-md-5 text-center">
      <h3>MISIÓN</h3>
      <p><span class="fa fa-quote-left">&nbsp</span>Ser una empresa sólida y confiable, que tenga responsabilidad en la macro región sur (Tacna, Moquegua, Arequipa, Puno). ingresando al mercado nacional e internacional, brindando asesoramiento (prestación de servicios jurídicos) y capacitación de alto nivel; asi como, una atención de forma institucional, mediante procesos de mejoras continuas. <span class="fa fa-quote-right">&nbsp</span>
      </p>
    </div>
    <div class="col-md-2">
    </div> 
  </div>

  <div class="row">
    <div class="col-md-2">
    </div> 
    <div class="col-md-3 contenido-medio" >
      <%= image_tag "vision.jpg", class: "img-circle img-responsive" %>
    </div>
    <div class="col-md-5 text-center">
      <h3>VISIÓN</h3>
      <p><span class="fa fa-quote-left">&nbsp</span>Ser un sólido agente de cambio que promueva el desarrollo integral del capital humano, de manera didáctica, oportuna efectiva y contínua, en aras de conseguir el mejor rendimiento de nuestros profesionakles, en el desmpeño de sus actividades y colaborando en el desarrollo del capital humano que sea insertado tanto en el sector público como privado, que cada vez es mas competitivo y globalizado, a través de cursos, programas y diplomados. <span class="fa fa-quote-right">&nbsp</span>
      </p>
    </div>
    <div class="col-md-2">
    </div> 
  </div>

  <div class="row">
    <div class="col-md-2">
    </div> 
    <div class="col-md-3 contenido-medio" >
      <%= image_tag "proyeccion.jpg", class: "img-circle img-responsive" %>
    </div>
    <div class="col-md-5 text-center">
      <h3>PROYECCIÓN SOCIAL</h3>
      <p>Para la universidad, la Proyección Social es una oportunidad; la oportunidad de crecer juntos, desarrollando programas de extensión, proyectos comunitarios liderados por los estudiantes, en beneficio de las familias cobijadas por los diferentes proyectos mediante la participación activa en actividades encaminadas a la extensión de la educación y a lograr estilos de vida saludables y sostenibles, la FUCS cumple y reafirma los compromisos fundamentales del PEI (Proyecto Educativo Institucional):</p>
    </div>
    <div class="col-md-2">
    </div> 
  </div>
</div>
<hr>