@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857;
  color: #EBEBEB;
  
  /*background-image: image-url("bg-11ed9913713e0957950bef3a041b7aaa.jpg");*/
  color: #555;
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: url("bg.jpg") repeat fixed center top transparent;
}
/**********Cielos*********/
/********* Logo *********/

.top-bar {
  padding: 10px 20px;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  color: #FFF;
}

/********* Datos de Cabecera*********/

#datos a {
  color: inherit;
  display: inline-block;
  color: #FFF;
  background: none repeat scroll 0% 0% #428BCA;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
}

#datos a:hover {
  background-color: #C52D2F;
  color: #FFF;
  transition: color 300ms ease 0s, background-color 300ms ease 0s;
}

#datos ul {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
}

#datos ul li{
  display: inline-block;
}

/*********Sub Menus*********/
.dropdown-menu {
  border: medium none;
  box-shadow: none;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  border-radius: 0px;
}

.dropdown-submenu{
position:relative;
}

.dropdown-submenu>.dropdown-menu{
top:0;
right: 100%;
}

.dropdown-submenu:hover>.dropdown-menu{
display:block;
}

.dropdown-submenu.pull-left{
float:none;
}

.dropdown-menu > li > a {
    color: #FFF;
    
}

.dropdown-menu > li > a:hover {
    background-color: #C52D2F;
    color: #FFF;
    transition: color 300ms ease 0s, background-color 300ms ease 0s;
}


/*********Menu*********/
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-inverse {
    border-color: transparent;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    
}

.navbar-inverse .navbar-nav > li > a {

    border-radius: 0px;
    color: #FFF;
    line-height: 24px;
    display: block;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #C52D2F;
    color: #FFF;
    border-radius: 0px;
    transition: color 300ms ease 0s, background-color 300ms ease 0s;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #C52D2F;
    color: #FFF;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #FFF;
}


/*------CAROUSEL-------- */

/* Carousel base class */
.carousel {
  margin-bottom: 20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
  text-align: left;
}

/* Bump up size of carousel content */
.carousel-caption p {
  margin-bottom: 40px;
  font-size: 21px;
  line-height: 1.4;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-size: cover;
  width: 100%;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
  width: 100%;
}

.carousel-control {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 15%;
  opacity: 1;
  font-size: 20px;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-control.left {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
  background-repeat: repeat-x;
	width: 40px;

}

.carousel-control.right {
  left: auto;
  right: 0px;
  background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
  background-repeat: repeat-x;
  width: 40px;
}

/******Pie de Pagina ******/
.footer {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  color: #FFF;
  padding: 17px 0px;
  text-align: center;
  border-top: 0px solid #555;
}

.footer p {
	margin: 0px 0px 0px 0px;
}

.footer a {
  text-decoration: none;
}

.footer ul {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
}

.footer ul li{
  display: inline-block;
}

/****Galeria****/
#recent-works .col-xs-12.col-sm-4.col-md-3{
  padding: 15px;
}

#recent-works{
  padding-bottom: 0px;
}

.recent-work-wrap {
  position: relative;
}

.recent-work-wrap img{
  width: 100%;
}

.recent-work-wrap .recent-work-inner{
  top: 0;
  background: transparent;
  opacity: .8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3{
  margin: 10px 0;
  text-align: center;
  font-size: 15px;
}

.recent-work-wrap .recent-work-inner h3 a{
  font-size: 20px;
  color: #fff;
}

.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;  
  padding: 30px;
}

.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}

.recent-work-wrap:hover .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.recent-work-wrap .comentario {
	padding: 5px;
	position: relative;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
	color: #FFF;
	text-align: center;
  height: 50px;
}

/**********Panel de Diplomados**********/
#diplomados .panel {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
	border: 0px solid transparent;
	border-radius: 0px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	color: #FFF;
}

#diplomados .panel-default > .panel-heading {
  color: rgb(255, 255, 255);
  border-color: #DDD;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

#diplomados .panel-default a {
  color: #FFF;
  text-decoration: none;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 0px solid #DDD;
}