<!--Menu-->
<div class="col-sm-3">   
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><b>Items</b></a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <a href="/admin/areas">Areas</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/admin/diplomados">Diplomados</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/admin/modulos">Módulos</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/admin/cursos">Cursos</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/admin/area_diplomados">Areas y Diplomados</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div><!--/Menu-->