<footer class="footer">
<div class="container">
  <p>Estamos ubicados en Modesto Molina 1018 Cercado Tacna-Perú<br>
  Telefono: (052) - 634930  Celular: RPC 973585020<br>
  Email: nexuspro.training@gmail.com<br>
  NEXUS PRO TRAINING ©<br>
  © 2014 Vallenova S.A.C. Todos los derechos reservados. </p>
</div>
</footer>