<footer class="footer">
  <p class="text-muted">Estamos ubicados en Modesto Molina 1018 Cercado Tacna-Perú</p>
  <p class="text-muted">Telefono: (052) - 634930  Celular: RPC 973585020</p>
  <p class="text-muted">Email: nexuspro.training@gmail.com</p>
  <p class="text-muted">NEXUS PRO TRAINING ©</p>
  <p class="text-muted">© 2014 Vallenova S.A. Todos los derechos reservados. </p>
</footer>