<footer class="footer">
<div class="container">
  <div class="col-md-6">
  <p class="text-muted">Estamos ubicados en Modesto Molina 1018 Cercado Tacna-Perú<br>
  Telefono: (052) - 634930  Celular: RPC 973585020<br>
  Email: nexuspro.training@gmail.com<br>
  NEXUS PRO TRAINING ©<br>
  © 2014 Vallenova S.A.C. Todos los derechos reservados. </p>
  </div>
  <div class="col-md-6">
    <ul>
	   <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
	   <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
	   <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
	   <li><a href="#"><i class="fa fa-youtube fa-2x"></i></a></li>
	   <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
	   <li><a href="#"><i class="fa fa-slideshare fa-2x"></i></a></li>
	</ul>
  </div>
</div>
</footer>